@font-face {
  font-family: SF Pro Display;
  src: "url(./fonts/SF-Pro-Display-Regular.otf)";
}

*{
  margin: 0;
  padding: 0;
}

body{
  background-color: white;
  font-family: SF Pro Display;
  scroll-behavior: smooth;
}

nav{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.cart{
  margin-right: 2rem;

  .btn-primary{
    background: transparent;
    border: 0;

  }

  .btn{
    --bs-btn-padding-x: 0rem;
    --bs-btn-padding-y: 0rem;
  }

  .bg-danger {
    --bs-bg-opacity: 1;
  }

  svg{
    height: 25px;
    color: white;
  }
}

.stickyNav{
  opacity: 98%;
  z-index: 3;
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #323232;

  .apol-logo{
    width: 2vw;
    margin: 1rem 0 1rem 2rem;
  }
}

li{
  list-style-type: none;

  a{
    color: #b8b8b8;
    text-decoration: none;
    list-style-type: none;
    margin-left: 3rem;
    font-size: larger;
    transition: 300ms ease-out;
  }

  a:hover{
    color: white;
    list-style-type: none;
    margin-left: 3rem;
    font-size: larger;
    transition: 300ms ease-in;
  }
}

.centradorDeAlerta{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: white;
  height: 100vh;
  align-items: flex-start;
}

.store{
  width: 100%;
  text-align: center;
  font-family: SF Pro Display;
  padding: 1rem 0 1rem 0;
  background-color: black;
  color: white;
}

.row3 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  justify-content: space-evenly;
  align-items: flex-end;
}

.row4 {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
  justify-content: center;
  align-items: center;
}

.alerta{
  color: black;
  border-radius: 10px;
  width: 95%;
  margin: 0;
  top: 60.8px;
  z-index: 2;
  text-align: center;
  font-size: 17px;
}

.agregarAlCarrito{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.e{
  margin-top: .5rem;
}

.btn{
  border-color: black;
  color: white;
  background-color: black;
}

.btn:hover{
  background-color: white!important;
  border-color: black!important;
  color: black!important;
}

.row2{
  margin-bottom: 2rem;
}

.main{
  height: 100%;

  .contenedor1{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;

    img{
      width: 250em;
      z-index: 1;
    }
    
    h2{
      font-size: 48px;
      line-height: 1.08349;
      font-weight: 600;
      letter-spacing: -.002em;
    }
    
    h3{
      margin-top: 1rem;
      font-size: 24px;
      line-height: 1.16667;
      font-weight: 400;
      letter-spacing: .009em;
      margin-bottom: 1rem;
    }
  }
  
  .centrado1{
    color: black;
    position: absolute;
    top: 50%;
    left: 67%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  .links a{
    text-decoration: none;
    font-size: x-large;
    margin: 0 1rem 0 1rem;
    color: #3c7fbb;
  }
  
  .links a::after{
    content: ">";
    padding-left: 0.2em;
  }

  .contenedor2{
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
  }
  
  .contenedor2 img{
    height: 100vh;
    z-index: 1;
  }
  
  .contenedor2 h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
  }
  
  .contenedor2 h3{
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-bottom: 1rem;
  }
  
  .centrado2{
    color: white;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  .contenedor3{
    position: relative;
    text-align: center;
  }
  
  .contenedor3 img{
    width: 100vw;
    z-index: 1;
  }
  
  .contenedor3 h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
  }
  
  .contenedor3 h3{
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-bottom: 1rem;
  }
  
  .centrado3{
    color: black;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .contenedor4{
    position: relative;
    text-align: center;
  }
  
  .contenedor4img{
    width: 100vw;
    z-index: 1;
  }
  
  .contenedor4 h2{
    font-size: 48px;
    line-height: 1.08349;
    font-weight: 600;
    letter-spacing: -.002em;
    margin-top: 2rem;
  }
  
  .contenedor4 h3{
    margin-top: 1rem;
    font-size: 24px;
    line-height: 1.16667;
    font-weight: 400;
    letter-spacing: .009em;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .centrado4{
    color: white;
    position: absolute;
    top: 17%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .m2logo{     
    width: 40px;
    margin: 4px 1px 1px 7px;
  }
}

.row{
  margin-top: 2rem;
}

.card{
  background-color: transparent;
}

footer{
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: flex-end;

  .anana-logo{
    width: 2vw;
    margin: 1rem 0 1rem 2rem;
  }

  p{
    color: darkgrey;
    margin-right: 1rem;
    font-size: small;
  }
}

.footer{
  background-color: black;
}







